article {
    width: 350px;
    padding: 18px 15px 17px;
    font-size: 12px;
    line-height: 15px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    box-sizing: border-box;
}

.link-login {
    display: block;
    margin: 16px 0;
    background-color: #711BFF;
    padding: 15px 0 11px;
    /* width: 318px; */
    /* height: 40px; */
    color: white;
    border-radius: 4px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

.link-login img {
    /* margin-right: 4px; */
    /* vertical-align: -4px; */
    /* margin-top: -3px; */
    margin: -4px 4px 0 0
}

.img-lock,
.img-user {
    width: 16px;
    height: 16px;
    margin-top: -1px;
    margin-right: 3px;
    /* vertical-align: -3px; */
}

/* .img-user {
    margin-left: 101px;
} */

.utility-user {
    display: flex;
    justify-content: space-between;
}

.utility-user > div {
    display: flex;
    align-items: center;
}